body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: rgba(0, 0, 0, 0.8);
}

.row-header {
  padding: 10px;
  background-color: rgba(13, 13, 13, 0.8);
  color: #fff;
  text-align: center;
}

.card-delete-button {
    background-size: cover;
    background: url("./delete-button.svg") no-repeat;
    position: absolute;
    top: 35%;
    right: 20px;
    width: 18px;
    height: 19px;
    transition: all .2s linear;
    z-index: 1;
    border: none;
}

.card-delete-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card {
    transition: all .2s linear;
    position: relative;
    background-color: rgba(65, 65, 65, 0.8);

}

.input-header {
    text-align: center;
    width: 50%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 24px;
    line-height: 17px;
    color: #000000;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

td {
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.8);
}

.card:hover {
    background-color: #2B2B2BF7;
}

.elements {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(65, 65, 65, 0.8);
}